#root {
  width: 100vw;
  margin: 0 auto;
 
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 0;
  background: #121212;
  font-family: 'Arial', sans-serif;
}

.shadow-dance-text {
  font-size: 5rem;
  color: transparent;
  /* Use only -webkit-text-stroke for best browser support */
  -webkit-text-stroke: 3px #000000;
 

  animation: shadow-dance 2s infinite;
}


​

/* הסתרת סליידר הדפדפן הרגיל */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Loading Screen Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.home{
  background-image: url("https://res.cloudinary.com/dpgnqgyxe/image/upload/v1763892632/11test_ncjen7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out;
}

.button {
  background-color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 8px;
}
